- content_for :top_content do
  %div.jumbotron
    %div.container
      - if ! user_signed_in?
        %h1
          Welcome to SSnameSS
        %p
          %em
            Some greeting here
      - else
        %p
          = "Welcome, #{current_user.name.split(' ')[0]}!" 

- if ! user_signed_in?
  %p
    Register or sign in to get started:
    = link_to 'Register', new_user_registration_path, class: 'btn btn-lg'
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg'
- else
  %p
    Here is the way to go:
  %p
    %em
      Insert here some meaningfull link for starters.      
